/* Container styling */
body {
  background-color: #1a1a2e;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a2e;
  color: #ffffff;
  text-align: center;
}

/* Title styling */
.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Description styling */
.description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Button styling */
.uploadButton {
  background-color: #007bff;
  color: #ffffff;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Button hover effect */
.uploadButton:hover {
  background-color: #0056b3;
}

.form-group {
  width: 18rem;
}

/* General Input and Select Styles */
input[type="date"], select {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 15px;
}

/* Focused input and select fields */
input[type="date"]:focus, select:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Table Styling */
.attendance-table {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
}

.attendance-table th,
.attendance-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.attendance-table th {
  background-color: #2d2d3e;
}

.attendance-table tr:nth-child(even) {
  background-color: #2a2a3a;
}

.attendance-table tr:hover {
  background-color: #333;
}

.attendance-table td {
  color: #f1f1f1;
}

/* Status styling */
.present {
  color: green;
  font-weight: bold;
}

.absent {
  color: red;
  font-weight: bold;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
