.container{
    background-color: #141B2D;
    padding: 20px
 
}

.screen{
  color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px; 
}

.card {
    width: 300px;
    border: 2px solid white;
    border-radius: 8px;
    overflow: hidden;
    background-color: #1F2A4D;
    
  }

.card:hover {
    box-shadow: 0 0px 8px rgba(255, 255, 255, 1);
    transition: box-shadow 0.2s ease-in-out;
}
  
  .card-header {
    background-color: #1F2A4D;
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid white;
  }
  
  .status {
    font-size: 12px;
    color: #72c472;
    font-weight: bold;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .photoAndName {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .position {
    font-size: 14px;
    color: #7a7a7a;
    margin-top: -15px;
  }
  
  .details {
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
    font-size: 14px;
    color: #6a6a6a;
    text-align: left;
  }
  
  .info p {
    margin: 5px 0;
  }
  
  .footer {
    background-color: #1F2A4D;
    border-top: 1px solid white;
    padding: 10px;
    font-size: 12px;
    text-align: left;
    color: #6a6a6a;
  }
  
  .footer{
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-align: left;
  }
  
  .view-details:hover {
    text-decoration: underline;
  }
  